body{
    font-family: 'Lexend Peta', sans-serif;
    font-family: 'Open Sans Condensed', sans-serif;
    padding: 20px 60px;
}
a{
    text-decoration: none;
    columns: block;
}
*{
    box-sizing: border-box;
}
